<app-container simple="true">

    <div class="flex column">
        <div class="col">
            <div class="section-title">
                <h4 i18n>Stats</h4>
            </div>
            <div class="flex column">
                <app-stat class="col" [stats]="this.stats()" field="attack"></app-stat>
                <app-stat class="col" [stats]="this.stats()" field="affinity"></app-stat>
                <app-stat class="col" [stats]="this.stats()" field="critBoost"></app-stat>
                <app-stat class="col" [stats]="this.stats()" field="defense"></app-stat>
                <app-stat class="col" [stats]="this.stats()" field="fireResist"></app-stat>
                <app-stat class="col" [stats]="this.stats()" field="waterResist"></app-stat>
                <app-stat class="col" [stats]="this.stats()" field="thunderResist"></app-stat>
                <app-stat class="col" [stats]="this.stats()" field="iceResist"></app-stat>
                <app-stat class="col" [stats]="this.stats()" field="dragonResist"></app-stat>
            </div>
        </div>

        <div class="col">
            <div class="section-title">
                <h4 i18n>Skills</h4>
            </div>
            <div class="flex column">
                @for(skill of skills(); track skill.name) {
                    <app-skill class="col" [skill]="skill"></app-skill>
                }
            </div>
        </div>
    </div>
</app-container>
