@use "theme";
@use "variables";
@use "functions" as fn;


.nav-menu {
    position: sticky;
    width: 100vw;
    background-color: black;
    height: variables.$nav-height;
    display: flex;
    align-items: center;

    img {
        height: variables.$nav-height;
    }
}

main {
    padding: 1rem 3rem;
    min-height: calc(100vh - variables.$nav-height);
}

.container {
    min-height: 80%;
    color: variables.$container-text-color;

    &.light {
        @include theme.light-container(0.95);
        color: variables.$light-container-text-color;
    }

    & > .container-box {
        @include theme.container(0.8);
        filter: blur(6px);
    }
}


.search-box {
    background-color: #6d6a66;
    flex: 1 0 auto;
    padding: 10px 10px;
    font-size: 18px;
    border: 2px solid variables.$container-bg-color-dark;
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
        border-color: variables.$primary-color;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    }
}

input {
    background-color: variables.$container-bg-color-dark;
    color: variables.$container-text-color;
}


.section-title {
    h1, h2, h3, h4, h5, h6 {
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(45deg, variables.$container-text-color, rgba(variables.$container-text-color, 0)) 1;
    }
}

.delete-button {

    padding-top: 0.5em;

    cursor: pointer;

    &::before {
        content: url('/images/close-icon.svg');

    }

}


button.btn {
    color: variables.$container-text-color;
    background: none;
    border: none;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-row: 1;
    height: 3em;
    padding: 1em;
    padding-bottom: 3em;

    z-index: 5;

    position: relative;

    cursor: pointer;

    &:active {
        background-color: rgba(variables.$container-bg-color-dark, 0.6);
    }

    &::before {
        @include fn.corner-border(url("/images/borders/simple_top.png"));
        background-size: 1.5rem;
        pointer-events: none;

    }

    &::after {
        @include fn.corner-border(url("/images/borders/simple_bottom.png"), bottom);
        background-size: 1.5rem;
        bottom: 0;
        right: 0;
        background-position: 100% 100%;
        pointer-events: none;
    }
}


.container-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    @include theme.container(0.8);
    filter: blur(6px);
}
