@use "sass:math";
@use "variables";
@use "functions" as fn;
@use "theme";





body {
    margin: 0;
    background-image: url("https://blog.es.playstation.com/tachyon/sites/14/2024/05/86ecbb85c8d6104a2d07a29a005215546fefa135.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}



.flex {
    display: flex;
    flex-wrap: wrap;

    &.row {
        flex-direction: row;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    &.column {
        margin-left: -1rem;
        margin-right: -1rem;
        flex-direction: column;
    }
}


.col {
    flex: 1 0 0%;
    padding: 0.25rem 1rem;
    box-sizing: border-box;
}

@mixin response-col($width) {
    width: calc(math.percentage(math.round($width*100) / 10000));
    flex: 0 0 auto;
    padding: 0.25rem 1rem ;
    box-sizing: border-box ;
}

@each $breakpoint, $value in variables.$breakpoints {
    @media (min-width: $value) {
        @for $i from 1 through 12 {
            $width: $i * 8.33333;

            @if $breakpoint == xs {
                // Default columns (applies when no specific breakpoint is set)
                .col-#{$i} {
                    @include response-col($width);
                }
            } @else {
                // Responsive columns (applies inside media queries only)
                .col-#{$breakpoint}-#{$i} {
                    @include response-col($width);
                }
            }
        }
    }
}









