@use "sass:math";
@use "variables";


$width-step: 5;
$width-steps: 100 / $width-step;

@for $i from 1 through $width-steps {
    $width: $i * $width-step;

    .w-#{$width} {
        width: math.percentage($width / 100);
    }
}


.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

@each $key, $value in variables.$spacers {
    // Margins
    .m-#{$key} {
        margin: $value !important;
    }

    .mt-#{$key} {
        margin-top: $value !important;
    }

    .mb-#{$key} {
        margin-bottom: $value !important;
    }

    .ml-#{$key} {
        margin-left: $value !important;
    }

    .mr-#{$key} {
        margin-right: $value !important;
    }

    .my-#{$key} {
        margin-top: $value !important;
        margin-bottom: $value !important;
    }

    .mx-#{$key} {
        margin-left: $value !important;
        margin-right: $value !important;
    }

    // Paddings
    .p-#{$key} {
        padding: $value !important;
    }

    .pt-#{$key} {
        padding-top: $value !important;
    }

    .pb-#{$key} {
        padding-bottom: $value !important;
    }

    .pl-#{$key} {
        padding-left: $value !important;
    }

    .pr-#{$key} {
        padding-right: $value !important;
    }

    .py-#{$key} {
        padding-top: $value !important;
        padding-bottom: $value !important;
    }

    .px-#{$key} {
        padding-left: $value !important;
        padding-right: $value !important;
    }
}
