


.armor-selector {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    .armor-icon {
        height: 30px;
    }

}

.slot {
    cursor: pointer;
    display: flex;
    align-items: center;
    max-height: 2rem;
}



