@use "variables";
@use "functions" as fn;


.items-wrapper {
    max-height: 500px;
    overflow: scroll;
}

.weapon-selector-row {

    app-container  {
        cursor: pointer;
    }
    .col {
        padding: 0.23rem;
    }
    .weapon-icon-selector {
        height: 20px;
    }
}



.item-container {
    display: flex;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    cursor: pointer;
}
